
.mauticform_wrapper { max-width: 600px; margin: 10px auto; }
.mauticform-innerform {}
.mauticform-post-success {}
.mauticform-name { font-weight: bold; font-size: 1.5em; margin-bottom: 3px; }
.mauticform-description { margin-top: 2px; margin-bottom: 10px; }
.mauticform-error { margin-bottom: 10px; color: red; }
.mauticform-message { margin-bottom: 10px;color: green; }
.mauticform-row { display: block; margin-bottom: 20px; }
.mauticform-label { font-size: 1.1em; display: block; font-weight: bold; margin-bottom: 5px; }
.mauticform-row.mauticform-required .mauticform-label:after { color: #e32; content: " *"; display: inline; }
.mauticform-helpmessage { display: block; font-size: 0.9em; margin-bottom: 3px; }
.mauticform-errormsg { display: block; color: red; margin-top: 2px; }

.mauticform-selectbox, .mauticform-input, .mauticform-textarea {
     width: 70%; 
     border: 2px solid #E1E2E8; 
     background: #FAFAFE; 
     box-shadow: 0px 0px 0px #fff inset;
     border-radius: 12px; 
     box-sizing: border-box; 
     padding: 18px 20px 18px 20px;
     font-size: 15px;
    }

.mauticform-checkboxgrp-row {}
.mauticform-checkboxgrp-label { font-weight: normal; }
.mauticform-checkboxgrp-checkbox {}
.mauticform-radiogrp-row {}
.mauticform-radiogrp-label { font-weight: normal; }
.mauticform-radiogrp-radio {}

.mauticform-button-wrapper .mauticform-button.btn-default, .mauticform-pagebreak-wrapper .mauticform-pagebreak.btn-default { 
    color: #5d6c7c;
    background-color: transparent;
    border-color: #F54F21;
    border: 3px solid #F54F21;
    border-radius: 40px;
    font-size: 16px;
    padding: 6px 25px 6px 25px;
    color: #F54F21;
    font-weight: bold;
    transition: 0.2s;
}


.mauticform-button-wrapper:hover .mauticform-button.btn-default:hover, .mauticform-pagebreak-wrapper:hover .mauticform-pagebreak.btn-default:hover { 
    background: #F54F21;
    color: #fff;
}

input, select, textarea {
    color: #5d6c7c;
    }

.mauticform-button-wrapper .mauticform-button, .mauticform-pagebreak-wrapper .mauticform-pagebreak { 
    display: inline-block;
    margin-bottom: 0;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 13px;
    line-height: 1.3856;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mauticform-button-wrapper .mauticform-button.btn-default[disabled], .mauticform-pagebreak-wrapper .mauticform-pagebreak.btn-default[disabled] {
    background-color: #ffffff; 
    border-color: #dddddd;
    opacity: 0.75;
    cursor: not-allowed; 
}

.mauticform-pagebreak-wrapper .mauticform-button-wrapper {  display: inline; }

.block2{
    display: flex;

}

.block2 h2{ 
    font-size: 52px;
    letter-spacing: -2px;
    color: #303861;
    margin-bottom: 20px;
}

.block2 p{
    font-size: 20px;
    color:#626988;
    line-height: 30px;
    
}

.block2-Out{
    width: 100%;
    height: 700px;
    display: flex;
    justify-content:center;
    margin-top: 180px;
}

.block2{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin-top: 30px;
}

.backImage{
    position: absolute;
    right: 0px;
    width: 50%;
    height: 70%;
    background-color: #303861;
    border-radius: 20px 0px 0px 20px;
}

.imgInside{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 90%;
    height: 90%;
    background-image: url("../src/handPc.png");
    border-radius: 20px 0px 0px 0px;
}

.image{
    display: flex;
    align-items: center; 
    width: 50%;
}


